<html>

<style>
    nav{
        background-color: gray;
        display: flex;
        justify-content: end;
    }
    nav ul{
        display: flex;
    }

    nav ul li{
        list-style: none;
        margin: 0 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }

    nav ul li:hover{
        background-color: blueviolet;
        color: whitesmoke;
        border-radius: 5px;

    }
</style>

    <nav>
        
        <ul>
            <li><a href=""> Home</a></li>
            <li><a href=""> About</a></li>
            <li><a href=""> Contact</a></li>
        </ul>
        
    </nav>

</html>