<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Saludo</title>
    <style>
        h3{color:green}
    </style>
</head>     
<body>
    

    <h1>hola. saludando desde l plantilla</h1>
    <h3>texto agregado adicionalmente</h3>

    <p><strong>LISTADO</strong></p>
    <ul>

        {% for cada in lista %}
        
        <li>{{ cada }}</li>
        
        {% endfor %}
        
    </ul>

</body>
</html>