<header class="d-flex justify-content-between">
    {% load static %}
    <div class="d-flex align-items-center m-1">
        <img src="{% static '/img/conae.png' %}" alt="conae" width="70px" height="40px">
        <img src="{% static '/img/veng.png' %}" alt="veng" width="80px" height="40px">
    </div>

    <h1 class="d-flex align-items-center m-1 text-center">SISTEMA DE INVENTARIO</h1>

<p class="text-center m-1">
    User: <span class="fw-bolder">Usuario</span><br>
    <a href=""> Log-Out <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
        <path d="M7.5 1v7h1V1h-1z"/>
        <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
      </svg>
    </a>
</p>

</header>
